* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4;
    background-repeat: no-repeat;
    font-style: normal;
    display: flex;
    justify-content: center;
    font-size: 20;
    color: #333;
    padding: 20px;
    min-height: 100vh;
    font-family: 'segoe UI', Arial, sans-serif;
    margin-top: 2%;
    text-align: justify;
    line-height: 1.6;
}
foot{
    background-color:palevioletred;
   font-size: 16.5;
}
.container {
    background-color: white;
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 0 0 10px;
    border-radius: 8px;
    padding: 30px;
}

.descrimer {
    background-color: #fff3cd;
    color: #856404;
    border: 4px solid #ffeeba;
    padding: 15px;
    font-weight: bold;
    border-radius: 5px;
}

.SIGNIN {
    background-image: url(student.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
    color: black;
}

.formsignin {
    background-color: rgba(211, 212, 208, 0.9);
    height: 300px;
    width: auto;
    background-position: center;
    border-radius: 7%;
    border-style: double;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 55px;
    border-color: #0b22cf;
    line-height: 1;
    box-shadow: 0 0 50px #fd9104;
}

.menusignin {
    background-color: #deb887;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    padding: 6px;
    word-spacing: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.menusignin a {
    background-color: rgb(223, 217, 218);
    color: #0b22cf;
    padding: 9px 10px;
    font-weight: bold;
    border-radius: 40px;
    text-decoration: none;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.studentform {
    background-color: rgba(101, 159, 8, 0.7);
    padding-bottom: 10px;
    box-shadow: 60px;
    box-shadow: #374dee;
    padding: 50px;
}

.contact {
    color: gold;
    font-size: large;
}

.textarea {
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    border-radius: 5px;
    border: solid;
    border-color: #374dee;
    margin-bottom: 10px;
    resize: vertical;
    height: 100px;
}

.button {
    background-color: rgb(36, 149, 242);
    cursor: pointer;
    height: 35px;
    width: 150px;
    border-radius: 5%;
    border-style: none;
    font-size: medium;
}

.choose {
    background-color: aquamarine;
    cursor: pointer;
    border-style: solid;
    font-size: medium;
    height: 35px;
    width: 180px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.menu {
    background-color: burlywood;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    padding: 0.8px;
    word-spacing: 20px;
    border-radius: 15px;
}

.menu a {
    background-color: rgb(223, 217, 218);
    padding: 10px 20px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 45px;
    margin: 0 8px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0b22cf;
}

input {
    padding: 10px 120px;
    outline: none;
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}

.input {
    padding: 10px 150px;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    border-width: 1.3px;
    margin-top: 2px;
    width: 100%;
    text-align: left;
    padding-left: 10;
    font-size: medium;
}

.allhead {
    color: rgb(8, 8, 254);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    margin-top: auto;
    font-size: 50px;
    background-color: chartreuse;
    border-radius: 20px;
    box-shadow: 0 0 10px;
    box-shadow: #0b22cf;
}

.alltitle {
    color: #2c3e50;
    padding-bottom: 5px;
    border-bottom: 2px;
}
.contactform{
    background-color:rgb(7, 204, 207);
    color: white;
    text-align: left;
    line-height: 3;
    height: 100vh;
}
.contactinput{
    padding: 10px 5px;
}
.contactrow{
    display: flex;
}
.contactcolom1{
    display: frex;
    width: 35%;
}
.contactcolom2{
    width: 75%;
}
.footer {
    background-color: rgba(8, 12, 13, 0.901);
    border-style: inset;
    border-color: #37d9ee;
    margin-bottom: 5%;
    color: rgb(255, 255, 255);
    align-content: center;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    padding: 10px 15px;
}