* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(45, 53, 57);
    background-repeat: no-repeat;
    font-style: normal;
    display: flex;
    justify-content: center;
    font-size: 20;
    color: white;
    margin: 0;
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 2%;
}

.SIGNIN {
    background-image: url(student.jpg);
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
    color: black;
}

.formsignin {
    background-color: rgba(211, 212, 208, 0.9);
    height: 300px;
    width: auto;
    background-position: center;
    border-radius: 7%;
    border-style: double;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 55px;
    border-color: #0b22cf;
}

.menusignin {
    background-color: burlywood;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    padding: 6px;
    word-spacing: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    color: #0b22cf;
}

.studform {
    background-color: rgba(101, 159, 8, 0.7);
    padding-bottom: 10px;
    width: 100%;
}

.contact {
    color: yellow;
    font-size: large;
}

.textarea {
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    border-radius: 5px;
    border: solid;
    border-color: #374dee;
    margin-bottom: 10px;
    resize: vertical;
    height: 100px;
}

.button {
    background-color: rgb(36, 149, 242);
    cursor: pointer;
    height: 35px;
    width: 150px;
    border-radius: 5%;
    border-style: none;
    font-size: medium;
}

.choose {
    background-color: aquamarine;
    cursor: pointer;
    border-style: solid;
    font-size: medium;
    height: 35px;
    width: 180px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.menu {
    background-color: burlywood;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    padding: 0.8px;
    word-spacing: 20px;
    border-radius: 15px;
}

.menu a {
    background-color: rgb(223, 217, 218);
    padding: 10px 20px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 45px;
    margin: 0 8px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0b22cf;
}

input {
    padding: 10px 120px;
    outline: none;
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}

.input {
    padding: 10px 150px;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    border-width: 1.3px;
    margin-top: 2px;
    width: 100%;
    text-align: left;
    padding-left: 10;
    font-size: medium;
}

.allhead {
    color: rgb(8, 8, 254);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    margin-top: auto;
    font-size: 50px;
    background-color: chartreuse;
    border-radius: 20px;
}

.alltitle {
    color: hotpink;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}